In [1]:
import json
import csv
import urllib.request
import pandas as pd
import numpy as np
import pymysql
from io import BufferedReader
    
# THIS CODE NEEDS TO BE RUN BEFORE MAKING THE SQL CONNECTION

pymysql.converters.encoders[np.float64] = pymysql.converters.escape_float
pymysql.converters.conversions = pymysql.converters.encoders.copy()
pymysql.converters.conversions.update(pymysql.converters.decoders)

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

Below code retrieve all the data from the view created in the mySQL, based on which we write our growth and value investment logic.
- After retrieving, we are selecting required features in a separate dataframe
- As entire data has been loaded as text format[through to_sql() method of python)], we are converting dates 
and other data in required format.

In [6]:
# loding data for Value and Growth investment

from datetime import datetime
from datetime import date
import datetime


from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://nativeuser:password@localhost/automatic_portfolio_creation')
query = "SELECT * from vw_select_stock"

dfselect_stock =pd.read_sql(query,engine)

curr_year = date.today().year -5 
#curr_year
ref_year = date.today().year - 9
#ref_year
start_date = datetime.date(ref_year,12,31)
end_date = datetime.date(curr_year,12,31)

#dfselect_stock['DATE_YEAR'].dtype
dfselect_stock['DATE_YEAR'] = pd.to_datetime(dfselect_stock['DATE_YEAR'], format='%Y-%m-%d')
#dfselect_stock = dfselect.copy()
dtFilter = (dfselect_stock['DATE_YEAR'] > start_date) & (dfselect_stock['DATE_YEAR'] <= end_date)
dfselect_stock = dfselect_stock.loc[dtFilter]


# Collecting required parameters for value & Growth portfolio

dfselect_stock.replace('',np.nan, inplace=True)
dfselect_stock.fillna(0, inplace=True)
rest_indx = dfselect_stock.reset_index()
floatlist = ['BETA', 'EPS', 'PE_RATIO','PB_RATIO', 'DEBT_TO_EQUITY', 'CURRENT_RATIO','PRICE_TO_SALES_RATIO','DIVIDEND_YIELD','5Y_Dividend_per_Share_Growth_PER_SHARE',
            '3Y_Dividend_per_Share_Growth_PER_SHARE','DEBT_TO_ASSETS','EPS_DILUTED_GROWTH','MARKET_CAP','TANGIBLE_ASSET_VALUE', 'ROE', 'BOOK_VALUE_PER_SHARE', 'ROIC',
             'BOOK_VALUE_PER_SHARE_GROWTH','MARKET_CAP','OUTSTANDING_SHARES']

for eachcol in floatlist:
    dfselect_stock[eachcol] = dfselect_stock[eachcol].astype('float64')
    
dfselect_stock['MARKET_CAP'] = dfselect_stock['MARKET_CAP'].astype('int64')
dfselect_stock['OUTSTANDING_SHARES'] = dfselect_stock['OUTSTANDING_SHARES'].astype('int64')
#dfselect_stock['TANGIBLE_ASSET_VALUE'] = dfselect_stock['TANGIBLE_ASSET_VALUE'].astype('long')

dfmean = dfselect_stock.groupby(['STOCK_TIKR','SECTOR','DATE_YEAR']).mean().reset_index()

C:\Users\Sudip\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

In [7]:
print("Required Financial Ratios of all the companies yearwise (showing top 5) :")

dfmean.head()
print('Total number of rows:',dfmean.shape[0])
#dfselect.head()

Required Financial Ratios of all the companies yearwise (showing top 5) :

,STOCK_TIKR,SECTOR,DATE_YEAR,BETA,EPS,PE_RATIO,PB_RATIO,DEBT_TO_EQUITY,DEBT_TO_ASSETS,CURRENT_RATIO,...,BOOK_VALUE_PER_SHARE_GROWTH,5Y_Dividend_per_Share_Growth_PER_SHARE,3Y_Dividend_per_Share_Growth_PER_SHARE,EPS_DILUTED_GROWTH,MARKET_CAP,ROE,BOOK_VALUE_PER_SHARE,ROIC,OUTSTANDING_SHARES,TANGIBLE_ASSET_VALUE
0,A,Healthcare,2011-10-31,1.371835,2.92,9.0810,2.1358,0.5072,0.2412,3.032,...,0.3345,0.0,0.0,0.4691,9206908940,0.2349,12.415,0.1700,4308000000,7.061000e+09
1,A,Healthcare,2012-10-31,1.371835,3.31,7.7776,1.7288,0.4558,0.2242,2.445,...,0.1994,0.0,0.0,0.1474,8970285351,0.2225,14.891,0.1070,5182000000,6.425000e+09
2,A,Healthcare,2013-10-31,1.371835,2.15,16.8879,2.2805,0.5106,0.2526,3.110,...,0.0410,0.0,0.0,-0.3486,12010726038,0.1389,15.501,0.0377,5286000000,6.723000e+09
3,A,Healthcare,2014-10-31,1.371835,1.65,23.9650,2.4840,0.3137,0.1538,3.256,...,0.0270,0.0,0.0,-0.2394,13187827388,0.1036,15.919,0.0379,5301000000,7.659000e+09
4,AAC,Healthcare,2013-12-31,2.428700,0.13,0.2500,0.0059,5.2640,0.5276,1.043,...,0.0000,0.0,0.0,0.0000,206733,0.0961,0.591,0.1392,8183000,6.727900e+07

Total number of rows: 4900

In [8]:
# Value investment logic

# saving each strategic parameter in a different dataframe, so we can combine all parameters as
# required (can add or remove as required based on further reasearch) to construct the portfolio

dfcurr = dfmean[dfmean.CURRENT_RATIO >= 2]
dfpe = dfmean[dfmean.PE_RATIO <= 10]
dfpb = dfmean[dfmean.PB_RATIO <= 1.3]
dfpeb = dfmean[dfmean.PB_RATIO*dfmean.PE_RATIO < 23]
dfdy = dfmean[dfmean.DIVIDEND_YIELD >= 1.0]
dfepsg = dfmean[dfmean.EPS_DILUTED_GROWTH > 0]
dfpsr = dfmean[dfmean.PRICE_TO_SALES_RATIO <= 1.0]
dfmkt = dfmean[dfmean.MARKET_CAP > 100000000]

dfValue = pd.concat([dfcurr,dfpe,dfpb,dfpeb,dfdy,dfepsg,dfpsr,dfmkt])

#dfValue.head()

# Fair value calculation for value stocks

# Y = 2.43
# FV1 = dfValue.EPS*(15)
# FV2 = (22.5*dfValue.EPS*dfValue.BOOK_VALUE_PER_SHARE)**0.5
# FV_O = dfValue.EPS*(8.5+(2*dfValue.BOOK_VALUE_PER_SHARE_GROWTH))
# FV_M = (FV_O*4.4)/Y
# FV_MN = (((dfValue.EPS*(7.5+(dfValue.BOOK_VALUE_PER_SHARE_GROWTH)))*4.4)/Y)

# fair_val = (FV1+FV2+FV_O+FV_M+FV_MN)/5

dfValue['FAIR_VALUE'] = fair_val
dfValue.head()

# combining all strategic parameters to create a single strategy for value investment 

def final_val(dfValue):
    return dfValue[
        ((dfValue.PE_RATIO <= 10)&
        (dfValue.PB_RATIO <= 1.3))&#|(dfValue.PB_RATIO*dfValue.PE_RATIO < 23))&
        #(dfValue.DIVIDEND_YIELD >= 1.0)&
        #(dfValue['3Y_Dividend_per_Share_Growth_PER_SHARE'] > 0)& 
        (dfValue.CURRENT_RATIO >= 2)&
        (dfValue.MARKET_CAP > 100000000)&
        (dfValue.PRICE_TO_SALES_RATIO <= 1.0)
        ]

# List of value stocks

dfValFinal = final_val(dfValue)
dfValFinal = dfValFinal[['STOCK_TIKR','SECTOR','BETA','FAIR_VALUE']].copy()
dfValFinal = dfValFinal.drop_duplicates(subset=['STOCK_TIKR'],keep="first")
dfValFinal['ADDED_ON'] = date.today()
dfValFinal.head()

,STOCK_TIKR,SECTOR,DATE_YEAR,BETA,EPS,PE_RATIO,PB_RATIO,DEBT_TO_EQUITY,DEBT_TO_ASSETS,CURRENT_RATIO,...,5Y_Dividend_per_Share_Growth_PER_SHARE,3Y_Dividend_per_Share_Growth_PER_SHARE,EPS_DILUTED_GROWTH,MARKET_CAP,ROE,BOOK_VALUE_PER_SHARE,ROIC,OUTSTANDING_SHARES,TANGIBLE_ASSET_VALUE,FAIR_VALUE
0,A,Healthcare,2011-10-31,1.371835,2.92,9.0810,2.1358,0.5072,0.2412,3.032,...,0.0,0.0,0.4691,9206908940,0.2349,12.415,0.1700,4308000000,7.061000e+09,37.806994
1,A,Healthcare,2012-10-31,1.371835,3.31,7.7776,1.7288,0.4558,0.2242,2.445,...,0.0,0.0,0.1474,8970285351,0.2225,14.891,0.1070,5182000000,6.425000e+09,42.377340
2,A,Healthcare,2013-10-31,1.371835,2.15,16.8879,2.2805,0.5106,0.2526,3.110,...,0.0,0.0,-0.3486,12010726038,0.1389,15.501,0.0377,5286000000,6.723000e+09,28.170359
3,A,Healthcare,2014-10-31,1.371835,1.65,23.9650,2.4840,0.3137,0.1538,3.256,...,0.0,0.0,-0.2394,13187827388,0.1036,15.919,0.0379,5301000000,7.659000e+09,22.243783
5,AAC,Healthcare,2014-12-31,2.428700,0.41,75.4146,5.2523,0.2938,0.1962,4.766,...,0.0,0.0,2.4167,651834847,0.0774,5.887,0.1690,97474000,1.303150e+08,11.237693

    STOCK_TIKR              SECTOR      BETA  FAIR_VALUE    ADDED_ON
42        ACCO         Industrials  1.818291   28.557554  2019-12-13
73         ADM  Consumer Defensive  0.955928   43.780939  2019-12-13
131        AIR         Industrials  1.009082   23.377419  2019-12-13
165        ALG         Industrials  0.850361   36.952496  2019-12-13
276       AOSL          Technology  0.791859   19.991213  2019-12-13

In [9]:
dfValue.shape
dfValFinal.shape
dfValFinal.to_csv('myvaluestocksr.csv')

(14653, 23)

(51, 5)

In [11]:
# Logic to check whether stock EPS is growing since N years (for selecting Growth Stocks)

engine = create_engine('mysql+pymysql://nativeuser:password@localhost/automatic_portfolio_creation')
queryepsG = "SELECT STOCK_TIKR,DATE_YEAR,EPS from income_statement"

dfepsPer =pd.read_sql(queryepsG,engine)
#dfepsPer
curr_year = date.today().year 
ref_year = date.today().year - 5 
start_date = datetime.date(ref_year,12,31)
end_date = datetime.date(curr_year,12,31)

# EPS GROWTH YEARBY FOR GRWOTH STOCK 
dfepsPer['DATE_YEAR'] = pd.to_datetime(dfepsPer['DATE_YEAR'])
dtFilter = (dfepsPer['DATE_YEAR'] > start_date) & (dfepsPer['DATE_YEAR'] <= end_date)
#dtFilter
dfepsPer = dfepsPer.loc[dtFilter]
#dfepsPer.head(10)
dfepsPer['EPS_PREV'] = dfepsPer['EPS'].shift(1)
dfepsPer['POSITIVE'] = dfepsPer['EPS'] > dfepsPer['EPS_PREV']
dfepsPer['POSITIVE'] = dfepsPer['POSITIVE'].astype('category')
#dfepsPer = dfepsPer[dfepsPer['POSITIVE'] == 'True'].groupby(['STOCK_TIKR']).size().reset_index(name='+veGrowthCount')
dfEPS_GR= dfepsPer.groupby(['STOCK_TIKR', 'POSITIVE']).size().unstack(fill_value=0)
#dfepsPer['+VeGrowth'] = np.where(dfepsPer.POSITIVE['True'] > dfepsPer.POSITIVE['False'],'Yes','No')
#dfEPS_GR.head()
dfEPS_GR.columns
dfEPS_GR.to_csv('PositiveEPS.csv')
dfEPS_GR = pd.read_csv('PositiveEPS.csv')
dfEPS_GR.columns = ['STOCK_TIKR','NGrowth','PGrowth']
dfEPS_GR['GrowthEPS'] = np.where(dfEPS_GR['PGrowth'] >= dfEPS_GR['NGrowth'],'Yes','No')
dfEPS_GR.head()

C:\Users\Sudip\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  from ipykernel import kernelapp as app

CategoricalIndex([False, True], categories=[False, True], ordered=False, name='POSITIVE', dtype='category')

  STOCK_TIKR  NGrowth  PGrowth GrowthEPS
0          A        2        2       Yes
1         AA        3        1        No
2       AABA        3        1        No
3        AAC        2        2       Yes
4        AAL        1        3       Yes

In [12]:
# growth investment logic (similar to value investment)

from datetime import datetime
from datetime import date
import datetime
import os
from pandas import ExcelWriter


dfcurrG = dfmean[dfmean.CURRENT_RATIO >= 1.5]
dfdeG = dfmean[dfmean.DEBT_TO_EQUITY <= 0.4]
dfdaG = dfmean[dfmean.DEBT_TO_ASSETS <= 1.1]
dfroeG = dfmean[dfmean.ROE > 0.15]
dfroicG = dfmean[dfmean.ROIC > 0.06]
dfmktG = dfmean[dfmean.MARKET_CAP > 100000000]
#dfepsGr = dfmean[dfmean.EPS_DILUTED_GROWTH > 0]


#dfselect_stock.columns

dfselect_stock.replace('',np.nan, inplace=True)
dfselect_stock.fillna(0, inplace=True)
rest_indx = dfselect_stock.reset_index()

dfGrowth = pd.concat([dfcurrG,dfdeG,dfdaG,dfroeG,dfroicG,dfmktG])#dfepsGr)
dfGrowth = pd.merge(dfGrowth,dfEPS_GR, on='STOCK_TIKR')
# Select growth stock on basis of FCF
# dfGrowth ['UNDERVALUED'] = np.where(dfGrowth.CLOSE_PRICE <= dfGrowth.TANGIBLE_ASSET_VALUE ,'Yes','No')
dfGrowth.head()

def final_gr(dfGrowth):
    return dfGrowth[
        (dfGrowth.DEBT_TO_EQUITY <= 0.4)&
        (dfGrowth.DEBT_TO_ASSETS <= 1.1)&
        (dfGrowth.ROE >= 0.15)&
        (dfGrowth.ROIC > 0.06)&
        (dfGrowth.CURRENT_RATIO >= 1.5)&
        (dfGrowth.GrowthEPS == 'Yes')&
        (dfGrowth.MARKET_CAP > 10000000000)
    ]
        
dfGrFinal = final_gr(dfGrowth)
dfGrFinal = dfGrFinal[['STOCK_TIKR','SECTOR','BETA','GrowthEPS']].copy()
dfGrFinal = dfGrFinal.drop_duplicates(subset=['STOCK_TIKR','SECTOR'],keep="first")
dfGrFinal['ADDED_ON'] = date.today()
dfGrFinal.to_csv('Growth.csv')
dfGrFinal.head()

,STOCK_TIKR,SECTOR,DATE_YEAR,BETA,EPS,PE_RATIO,PB_RATIO,DEBT_TO_EQUITY,DEBT_TO_ASSETS,CURRENT_RATIO,...,EPS_DILUTED_GROWTH,MARKET_CAP,ROE,BOOK_VALUE_PER_SHARE,ROIC,OUTSTANDING_SHARES,TANGIBLE_ASSET_VALUE,NGrowth,PGrowth,GrowthEPS
0,A,Healthcare,2011-10-31,1.371835,2.92,9.0810,2.1358,0.5072,0.2412,3.032,...,0.4691,9206908940,0.2349,12.415,0.1700,4308000000,7.061000e+09,2,2,Yes
1,A,Healthcare,2012-10-31,1.371835,3.31,7.7776,1.7288,0.4558,0.2242,2.445,...,0.1474,8970285351,0.2225,14.891,0.1070,5182000000,6.425000e+09,2,2,Yes
2,A,Healthcare,2013-10-31,1.371835,2.15,16.8879,2.2805,0.5106,0.2526,3.110,...,-0.3486,12010726038,0.1389,15.501,0.0377,5286000000,6.723000e+09,2,2,Yes
3,A,Healthcare,2014-10-31,1.371835,1.65,23.9650,2.4840,0.3137,0.1538,3.256,...,-0.2394,13187827388,0.1036,15.919,0.0379,5301000000,7.659000e+09,2,2,Yes
4,A,Healthcare,2014-10-31,1.371835,1.65,23.9650,2.4840,0.3137,0.1538,3.256,...,-0.2394,13187827388,0.1036,15.919,0.0379,5301000000,7.659000e+09,2,2,Yes

     STOCK_TIKR             SECTOR      BETA GrowthEPS    ADDED_ON
33         AAPL         Technology  1.139593       Yes  2019-12-13
206         ADI         Technology  1.249755       Yes  2019-12-13
570        ALXN         Healthcare  1.558541       Yes  2019-12-13
1669       BIIB         Healthcare  0.987783       Yes  2019-12-13
1716       BKNG  Consumer Cyclical  1.038400       Yes  2019-12-13

In [13]:
dfGrowth.shape
dfGrFinal.shape
dfGrFinal.to_csv('mygrowth.csv')

(19677, 25)

(43, 5)

In [14]:
# separating stock (value+Growth) symbol list (to check for the latest close price of porfolio stocks)

dflookup = pd.DataFrame()
dflookup['symbol'] = dfValFinal['STOCK_TIKR'].values  
#dflookup.head()

dflookupG = pd.DataFrame()
dflookupG['symbol'] = dfGrFinal['STOCK_TIKR'].values
dflookupG.head()

dflookup_price =[dflookup,dflookupG]
dflookup_price = pd.concat(dflookup_price)
dflookup_price.head()

  symbol
0   AAPL
1    ADI
2   ALXN
3   BIIB
4   BKNG

  symbol
0   ACCO
1    ADM
2    AIR
3    ALG
4   AOSL

In [22]:
# engine = create_engine('mysql+pymysql://nativeuser:password@localhost/automatic_portfolio_creation')
# query_ann_ret = "SELECT * FROM hist_annual_change"

# curr_year = date.today().year 
# ref_year = date.today().year - 5
# start_date = datetime.date(ref_year,12,31)
# end_date = datetime.date(curr_year,12,31)
# dfval = dflookup.copy()
# dfval.rename(columns = {'symbol':'STOCK_TIKR'}, inplace = True)
# #dfval.head()

# dfannRet =pd.read_sql(query_ann_ret,engine)
# dfannRet['Close'] = dfannRet['Close']*100
# dfannRet['Close'] = dfannRet['Close'].round(4)
# dfannRet['Date'] = pd.to_datetime(dfannRet['Date'])
# dtFilter = (dfannRet['Date'] > start_date) & (dfannRet['Date'] <= end_date)
# dfannRet = dfannRet.loc[dtFilter]
# #dfannRet.head(10)

# dfvalopti = pd.merge(dfannRet,dfval,on='STOCK_TIKR')
# dfvalopti = dfvalopti.groupby(['STOCK_TIKR']).mean().reset_index()
# dfvalopti = dfvalopti[(dfvalopti['Close'] > -1) & (dfvalopti['Close'] < 25)]
# dfvalopti.rename(columns = {'Close':'Annual_Ret'}, inplace = True)
# dfvalopti = dfvalopti[['STOCK_TIKR','Annual_Ret']]
# dfvalopti

In [15]:
# crosscheck whether we are getting correct count in lookup as original portfolio list

dfValue.shape
dfValFinal.shape
dflookup.shape

dfGrowth.shape
dfGrFinal.shape
dflookupG.shape
dflookup_price.shape

(14653, 23)

(51, 5)

(51, 1)

(19677, 25)

(43, 5)

(43, 1)

(94, 1)

In [16]:
# Code to load latest closing price for the portfolio stocks

import urllib.request, json
import pandas as pd
from pandas.io.json import json_normalize

dfdataprice = pd.DataFrame()
#dfdataprice.columns = ['STOCK_TIKR','CLOSE_PRICE']      

rowcount = 0
companies = dflookup_price['symbol']
nodatalist =[]
url = 'https://financialmodelingprep.com/api/v3/stock/real-time-price/code'
cnt =0
for x in companies:
    print(x)
    newurl = url.replace('code',x)
    #today = date.today().strftime("%Y-%m-%d")
    #print(today)
    
    #print("newur2", newurl2)
    mydata=[]
    with urllib.request.urlopen(newurl) as url_pri:
        print("url_pri",url_pri)
        data1 = json.loads(url_pri.read().decode())
        data = pd.DataFrame([data1])
        #print(data)
        if (data.empty != True):
            mydata = data.copy()
            #print(mydata)
            if (dfdataprice.shape[0] ==0):
                dfdataprice['symbol'] = ""
            rowcount = dfdataprice.shape[0]
            #print(rowcount)
            dfdataprice = dfdataprice.append(mydata,ignore_index=True)
            currrow = rowcount+len(mydata)
            #print(currrow)
            dfdataprice.iloc[rowcount:currrow,dfdataprice.columns.get_loc('symbol')]=x
            #print(dfdataprice)
        else:
            nodatalist.append(x)


dfdataprice.columns = ['CLOSE_PRICE','STOCK_TIKR']      
#print('Companies that do not have data',nodatalist)
#dfdataprice = dfdataprice.loc[:, dfdataprice.columns != 'index']
dfdataprice.head()
#saveToSQL('historical_price',dfdataprice,'replace')

ACCO
url_pri <http.client.HTTPResponse object at 0x000001A8684000B8>
ADM

C:\Users\Sudip\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

url_pri <http.client.HTTPResponse object at 0x000001A8683F8128>
AIR
url_pri <http.client.HTTPResponse object at 0x000001A86846E2B0>
ALG
url_pri <http.client.HTTPResponse object at 0x000001A86846E080>
AOSL
url_pri <http.client.HTTPResponse object at 0x000001A86846E208>
AP
url_pri <http.client.HTTPResponse object at 0x000001A86846E1D0>
BSET
url_pri <http.client.HTTPResponse object at 0x000001A86846E2B0>
CBT
url_pri <http.client.HTTPResponse object at 0x000001A8684B3128>
CGA
url_pri <http.client.HTTPResponse object at 0x000001A8691CE860>
CNXN
url_pri <http.client.HTTPResponse object at 0x000001A8691CE828>
CPS
url_pri <http.client.HTTPResponse object at 0x000001A8691CEF60>
CXDC
url_pri <http.client.HTTPResponse object at 0x000001A8691CE438>
DAN
url_pri <http.client.HTTPResponse object at 0x000001A8691CEB38>
DCO
url_pri <http.client.HTTPResponse object at 0x000001A8691CE860>
DLA
url_pri <http.client.HTTPResponse object at 0x000001A8691CEF28>
EBF
url_pri <http.client.HTTPResponse object at 0x000001A8691CE828>
ETM
url_pri <http.client.HTTPResponse object at 0x000001A8691CEF60>
GIII
url_pri <http.client.HTTPResponse object at 0x000001A8691CEEB8>
GTN
url_pri <http.client.HTTPResponse object at 0x000001A8691CEB70>
HFC
url_pri <http.client.HTTPResponse object at 0x000001A8683F8128>
HURC
url_pri <http.client.HTTPResponse object at 0x000001A868509BA8>
INSW
url_pri <http.client.HTTPResponse object at 0x000001A86846E080>
JAKK
url_pri <http.client.HTTPResponse object at 0x000001A86846E198>
JBSS
url_pri <http.client.HTTPResponse object at 0x000001A86846E208>
JOUT
url_pri <http.client.HTTPResponse object at 0x000001A86846E080>
KAI
url_pri <http.client.HTTPResponse object at 0x000001A86846E278>
KEM
url_pri <http.client.HTTPResponse object at 0x000001A86846E240>
KLIC
url_pri <http.client.HTTPResponse object at 0x000001A868509B70>
KTCC
url_pri <http.client.HTTPResponse object at 0x000001A8691CE518>
LCUT
url_pri <http.client.HTTPResponse object at 0x000001A8691CEB70>
LDOS
url_pri <http.client.HTTPResponse object at 0x000001A8691CEBA8>
LLL
url_pri <http.client.HTTPResponse object at 0x000001A8691CE400>
NC
url_pri <http.client.HTTPResponse object at 0x000001A8691CE7B8>
NNBR
url_pri <http.client.HTTPResponse object at 0x000001A8691CE518>
NR
url_pri <http.client.HTTPResponse object at 0x000001A8691CE438>
REGI
url_pri <http.client.HTTPResponse object at 0x000001A8691CEEB8>
REX
url_pri <http.client.HTTPResponse object at 0x000001A8691CEBA8>
SANM
url_pri <http.client.HTTPResponse object at 0x000001A8691CE7F0>
SEB
url_pri <http.client.HTTPResponse object at 0x000001A8691CEF98>
SENEA
url_pri <http.client.HTTPResponse object at 0x000001A86878B1D0>
SFE
url_pri <http.client.HTTPResponse object at 0x000001A86846E080>
SPLP
url_pri <http.client.HTTPResponse object at 0x000001A86846E208>
SPWR
url_pri <http.client.HTTPResponse object at 0x000001A86846E080>
TA
url_pri <http.client.HTTPResponse object at 0x000001A86846E278>
TSN
url_pri <http.client.HTTPResponse object at 0x000001A86846E0B8>
TWMC
url_pri <http.client.HTTPResponse object at 0x000001A86846E128>
UFS
url_pri <http.client.HTTPResponse object at 0x000001A86846E240>
UVV
url_pri <http.client.HTTPResponse object at 0x000001A8686FA0F0>
VECO
url_pri <http.client.HTTPResponse object at 0x000001A8691CE828>
VOXX
url_pri <http.client.HTTPResponse object at 0x000001A8691CEF98>
VSH
url_pri <http.client.HTTPResponse object at 0x000001A8691CE390>
AAPL
url_pri <http.client.HTTPResponse object at 0x000001A8691CECC0>
ADI
url_pri <http.client.HTTPResponse object at 0x000001A8691CEEF0>
ALXN
url_pri <http.client.HTTPResponse object at 0x000001A8691CEB00>
BIIB
url_pri <http.client.HTTPResponse object at 0x000001A8691CE828>
BKNG
url_pri <http.client.HTTPResponse object at 0x000001A8691CEF98>
BWA
url_pri <http.client.HTTPResponse object at 0x000001A8691CE390>
CF
url_pri <http.client.HTTPResponse object at 0x000001A8691CECC0>
CHRW
url_pri <http.client.HTTPResponse object at 0x000001A8691CE518>
CMI
url_pri <http.client.HTTPResponse object at 0x000001A8684B3048>
CSCO
url_pri <http.client.HTTPResponse object at 0x000001A868855080>
CTSH
url_pri <http.client.HTTPResponse object at 0x000001A86846E198>
CVX
url_pri <http.client.HTTPResponse object at 0x000001A86846E0F0>
EBAY
url_pri <http.client.HTTPResponse object at 0x000001A86846E080>
FAST
url_pri <http.client.HTTPResponse object at 0x000001A86846E128>
FLR
url_pri <http.client.HTTPResponse object at 0x000001A86846E240>
GOOGL
url_pri <http.client.HTTPResponse object at 0x000001A86846E0B8>
GPC
url_pri <http.client.HTTPResponse object at 0x000001A868509BE0>
GPS
url_pri <http.client.HTTPResponse object at 0x000001A8691CEB38>
GWW
url_pri <http.client.HTTPResponse object at 0x000001A8691CE4E0>
HAL
url_pri <http.client.HTTPResponse object at 0x000001A8691CE4A8>
HUM
url_pri <http.client.HTTPResponse object at 0x000001A8691CE710>
INTC
url_pri <http.client.HTTPResponse object at 0x000001A8691CEEF0>
ITW
url_pri <http.client.HTTPResponse object at 0x000001A8691CEB38>
LLY
url_pri <http.client.HTTPResponse object at 0x000001A8691CE470>
LYB
url_pri <http.client.HTTPResponse object at 0x000001A8691CE4E0>
MA
url_pri <http.client.HTTPResponse object at 0x000001A8691CE4A8>
MMC
url_pri <http.client.HTTPResponse object at 0x000001A8691CE710>
MMM
url_pri <http.client.HTTPResponse object at 0x000001A8691CE3C8>
MOS
url_pri <http.client.HTTPResponse object at 0x000001A8684B3128>
MPC
url_pri <http.client.HTTPResponse object at 0x000001A86846E0B8>
MSI
url_pri <http.client.HTTPResponse object at 0x000001A86846E160>
NTAP
url_pri <http.client.HTTPResponse object at 0x000001A86846E278>
PSX
url_pri <http.client.HTTPResponse object at 0x000001A86846E208>
QCOM
url_pri <http.client.HTTPResponse object at 0x000001A86846E1D0>
RL
url_pri <http.client.HTTPResponse object at 0x000001A86846E278>
SLB
url_pri <http.client.HTTPResponse object at 0x000001A86846E080>
SYK
url_pri <http.client.HTTPResponse object at 0x000001A868509BE0>
TDC
url_pri <http.client.HTTPResponse object at 0x000001A8691CE550>
TEL
url_pri <http.client.HTTPResponse object at 0x000001A8691CEF28>
TRIP
url_pri <http.client.HTTPResponse object at 0x000001A8691CE400>
UAA
url_pri <http.client.HTTPResponse object at 0x000001A8691CEE80>
VLO
url_pri <http.client.HTTPResponse object at 0x000001A8691CEEF0>
WBA
url_pri <http.client.HTTPResponse object at 0x000001A8691CEAC8>

   CLOSE_PRICE STOCK_TIKR
0        9.495       ACCO
1       44.910        ADM
2       45.055        AIR
3      118.180        ALG
4       12.850       AOSL

In [186]:
dfdataprice.head()

   CLOSE_PRICE STOCK_TIKR
0       40.610        AVT
1       14.190      BELFA
2       29.280       BMCH
3        9.055        BTU
4       21.605        CMC

In [15]:
def saveToSQL(tablename,dataframe,todo):
    from sqlalchemy import create_engine
    engine = create_engine('mysql+pymysql://nativeuser:password@localhost/automatic_portfolio_creation')
    dataframe.to_sql(tablename, con = engine, if_exists=todo, chunksize = 500)
    print('Data has been loaded to',tablename,'table')

In [16]:
# Seecting stocks to buy which are undervalued and finalizing value-stocks portfolio

dfValPort = pd.merge(dfValFinal,dfdataprice,on='STOCK_TIKR', how='left')
dfValPort['BUY_NOW'] = np.where(dfValPort['FAIR_VALUE'] > dfValPort['CLOSE_PRICE'], 'Yes', 'No')
dfValPort['SELL'] = 'No'
dfValPort = dfValPort.loc[:, dfValPort.columns != 'SELL']
dfValPort.head()

# ############## change replace to APPEND ###########################3
saveToSQL('value_portfolio',dfValPort,'replace')

,STOCK_TIKR,SECTOR,BETA,FAIR_VALUE,ADDED_ON,CLOSE_PRICE,BUY_NOW
0,AVT,Technology,1.236497,55.017411,2019-12-11,41.700,Yes
1,BELFA,Technology,1.854792,21.304603,2019-12-11,15.110,Yes
2,BMCH,Basic Materials,1.188472,23.679150,2019-12-11,29.730,No
3,BTU,Basic Materials,0.628298,86.343258,2019-12-11,9.855,Yes
4,CMC,Basic Materials,1.311523,22.390269,2019-12-11,22.590,No

Data has been loaded to value_portfolio table

In [18]:
# Finalizing Growth-stocks portfolio

dfGrPort = pd.merge(dfGrFinal,dfdataprice[['STOCK_TIKR','CLOSE_PRICE']],on='STOCK_TIKR', how='left')
####### BUY_NOW LOGIC FR GROWTH STOCKS
#dfGrPort['BUY_NOW'] = np.where(dfGrPort['FAIR_VALUE'] > dfGrPort['CLOSE_PRICE'], 'Yes', 'No')
dfGrPort.head()
# ############## change replace to APPEND ###########################3
saveToSQL('growth_portfolio',dfGrPort,'replace')

  STOCK_TIKR           SECTOR      BETA GrowthEPS    ADDED_ON  CLOSE_PRICE
0        ADI       Technology  1.249755       Yes  2019-12-11      115.845
1       ANET       Technology  1.485300       Yes  2019-12-11      191.220
2        APD  Basic Materials  0.844373       Yes  2019-12-11      229.550
3       ATVI       Technology  0.832329       Yes  2019-12-11       56.500
4        CMI      Industrials  1.104686       Yes  2019-12-11      182.180

Data has been loaded to growth_portfolio table

In [19]:
# Check the count of undervalued stocks
dfValPort['BUY_NOW'].value_counts()
#dfGrPort['BUY_NOW'].value_counts()

Yes    28
No      4
Name: BUY_NOW, dtype: int64

In [20]:
# Rebalance the value portfolio - To run once a 3 years

engine = create_engine('mysql+pymysql://nativeuser:password@localhost/automatic_portfolio_creation')
queryval = "SELECT * from VALUE_PORTFOLIO"

dfportval =pd.read_sql(queryval,engine)
mycountval = dfportval.groupby('STOCK_TIKR')['STOCK_TIKR'].count()
dfcountval = pd.DataFrame(mycountval)
dfcountval.rename(columns={'STOCK_TIKR':'COUNT'}, inplace=True)
dfcountval['STOCK_TIKR'] = dfcountval.index
dfReb = pd.merge(dfportval,dfcountval, on = 'STOCK_TIKR')
dfRebVal = dfReb[['STOCK_TIKR','SECTOR','BETA','FAIR_VALUE','ADDED_ON','CLOSE_PRICE','COUNT']]
#dfRebVal = dfReb.loc[:, dfReb.columns != 'BUY_NOW']
dfRebVal ['SELL'] = np.where( dfRebVal['COUNT'] < 3,'Yes','No')
dfRebVal.head()

C:\Users\Sudip\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'STOCK_TIKR' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\Sudip\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,STOCK_TIKR,SECTOR,BETA,FAIR_VALUE,ADDED_ON,CLOSE_PRICE,COUNT,SELL
0,AVT,Technology,1.236497,55.017411,2019-12-11,41.700,1,Yes
1,BELFA,Technology,1.854792,21.304603,2019-12-11,15.110,1,Yes
2,BMCH,Basic Materials,1.188472,23.679150,2019-12-11,29.730,1,Yes
3,BTU,Basic Materials,0.628298,86.343258,2019-12-11,9.855,1,Yes
4,CMC,Basic Materials,1.311523,22.390269,2019-12-11,22.590,1,Yes

In [21]:
# Rebalance the Growth portfolio - To run once a 3 years

engine = create_engine('mysql+pymysql://nativeuser:password@localhost/automatic_portfolio_creation')
queryGr = "SELECT * from GROWTH_PORTFOLIO"

dfportGr =pd.read_sql(queryGr,engine)
mycountGr = dfportGr.groupby('STOCK_TIKR')['STOCK_TIKR'].count()
dfcountGr = pd.DataFrame(mycountGr)
dfcountGr.rename(columns={'STOCK_TIKR':'COUNT'}, inplace=True)
dfcountGr['STOCK_TIKR'] = dfcountGr.index
dfRebG = pd.merge(dfportGr,dfcountGr, on = 'STOCK_TIKR')
dfRebGr = dfRebG[['STOCK_TIKR','SECTOR','BETA','ADDED_ON','CLOSE_PRICE','COUNT']]
#dfRebGr = dfReb.loc[:, dfReb.columns != 'BUY_NOW']
dfRebGr ['SELL'] = np.where( dfRebGr['COUNT'] < 3,'Yes','No')
dfRebGr.head()

C:\Users\Sudip\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'STOCK_TIKR' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\Sudip\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  STOCK_TIKR           SECTOR      BETA    ADDED_ON  CLOSE_PRICE  COUNT SELL
0        ADI       Technology  1.249755  2019-12-11      115.845      1  Yes
1       ANET       Technology  1.485300  2019-12-11      191.220      1  Yes
2        APD  Basic Materials  0.844373  2019-12-11      229.550      1  Yes
3       ATVI       Technology  0.832329  2019-12-11       56.500      1  Yes
4        CMI      Industrials  1.104686  2019-12-11      182.180      1  Yes

In [ ]:
print('File Imported Successfully')